html, body {
    height: 100%;
}

.gallery {
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
}

.groups-container {
    float: left;
    padding: 2.5%;
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
}

.tasks-container {
    float: left;
    padding: 2.5%;
    width: 65%;
    height: 100%;
}

ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#groups li.group {
    display: table;
    width: 100%;
    word-break: break-all;
}

#groups li p {
    display: table-cell;
    width: 65%;
    color: #000;
    padding: 8px;
}

#groups li.active {
    background-color: #0088FF;
    color: white;
}

#groups li:hover:not(.active) {
    background-color: #555;
    color: white;
}

#groups li button {
    display: table-cell;
    width: 50%;
    float: right;
}

@media only screen and (max-width: 720px) {
    .gallery {
        width: 99%;
        margin-top: 5px;
    }
}