<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" href="/static/css/task.css">
        
        <script type="text/javascript" src="/static/js/task.js"></script>

        <title>Tasks</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>